<div id="Riwell-Ackerman"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">

<script type="text/javascript">
    $.getScript('<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/js/gitalk.js', function () {
        var gitalk = new Gitalk({
            clientID: 'e2d848f46bff95a85fb8',
            clientSecret: '31b99d4841bb95d3a20ed4c5cf1a4dd4914c1b9c',
            repo: 'Riwell-Ackerman'
            owner: 'Riwell-Ackerman'
            admin: 'Riwell-Ackerman'
            id: decodeURI(location.pathname),
            distractionFreeMode: false,
            language: 'en, zh-CN, zh-TW'
            perPage: parseInt('10')
        })
        gitalk.render('Riwell-Ackerman')
    })
</script>
